

/*height equal width*/
.yellowbox {
    position: relative;
    width: 100%;
    height: auto;
    background-color: yellow;
}
.yellowbox:before{
	content: "";
	display: block;
	padding-top: 80%; 	/* initial ratio of 1:1*/
}

.yellowtitle{
	color: white;
	text-align: right;
}
.cell{
	border: 2pt solid rgb(208,209,209);
	background-image: url('../img/cell.png');
	 padding-top: 30px; padding-bottom: 30px; 
	font-size: 14pt;
}
.cell .title{
	font-size: 20pt;
}